@model IEnumerable<TEAM4OARS.Models.ViewRentalRates>
@{    
    /*Author: Bertol Salgado 1361242
    * COSC 4351
    * Spring 2016
    * View to Display Apartment Rental Rates
    */

    ViewBag.Title = "Apt Rental Rates";
}

<h1>@ViewBag.Title</h1>
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Apt_Type)</th>
        <th>@Html.DisplayNameFor(model => model.Apt_Rent_Amt)</th>
    </tr>

    @foreach (var item in Model)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apt_Type_Desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apt_Rent_Amt)
            </td>
        </tr>
    }
</table>

